[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "5"
pyqt5-tools = "5"
matplotlib = "3.4"
numpy = "1.21.4"
sympy = "1.9"


[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python src/main.py"
fmt = "autopep8 -i -a -r src"
